/* ALL FLEX */

.flex{
    display: flex;
}

.column{
    flex-direction: column
}
.row{
    flex-direction: row;
}
.column-r{
    flex-direction: column-reverse;
}
.row-r{
    flex-direction: row-reverse;
}
.wrap{
    flex-wrap: wrap
}
.content-center{
    justify-content: center;
}
.item-center{
    align-items: center
}
.aligne-content{
    align-content: center;
}
.grow-xs{
    flex-grow: 1;
}
.grow-md{
    flex-grow: 2;
}
.grow-ls{
    flex-grow: 3;
}
.grow-xl{
    flex-grow: 4;
}
.order1{
    order: 1;
}
.order2{
    order: 2;
}
.order3{
    order: 3;
}
.order4{
    order: 4;
}
.order5{
    order: 5;
}
.order6{
    order: 6;
}
.order7{
    order: 7;
}
.order8{
    order: 8;
}
.order9{
    order: 9;
}
.order10{
    order: 10;
}

/* TEXT COLOR */

.p-vert{
    color: green
}
.p-rouge{
    color: red
}
.p-bleu{
    color: blue
}
.p-jaune{
    color: yellow
}
.p-orange{
    color: orange
}
.p-violet{
    color: violet
}
.p-noire{
    color: black
}
.p-blanc{
    color: white
}
